html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

body {
    background-color: blue;
    background: url(src/images/pattern-background-desktop.svg) fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 560px;
    background-color: chartreuse;
    box-shadow: 10px 5px 30px rgb(206, 205, 205);
    border-radius: 15px;
}

.summary img {
    border-radius: 15px 15px 0 0;
}

.summary .buttom {
    background-color: white;
    height: 24em;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary .buttom div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary .buttom h1 {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px 0px 0px;
}

.summary .buttom p {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    width: 70%;
}

.buttom .buttom .plan {
    width: 100%;
}

.summary .buttom .payment {
    background-color: hsl(245, 75%, 52%);
    margin: 10px 0px 20px 0px;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 30px rgb(194, 192, 192);
}

.summary .buttom .cancel {
    color: inherit;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: gray;
    background-color: white;
}

#one {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

#two {
    flex-grow: 8;
}

#thre {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.summary .buttom .plan {
    justify-content: spa;
    background-color: hsl(225, 100%, 97%);
    width: 80%;
    border-radius: 15px;
}

.summary .buttom .plan .price {
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0px 60px 0 15px;
}

.summary .buttom .plan .price #anuual {
    margin: 0 0 5px 0;
}

.summary .buttom .plan button {
    background-color: hsl(225, 100%, 97%);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}