body {
    height: 90vh;
    background-image: url(src/images/pattern-background-desktop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.summary img {
    border-radius: 15px 15px 0 0;
    flex-grow: 1;
}

.buttom {
    background-color: white;
    height: 20em;
    border-radius: 0 0 15px 15px;
}

