html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }

body {
    background-color: rgb(169, 169, 241);
    background: url(src/images/pattern-background-desktop.svg) fixed no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
}

.summary {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 560px;
    box-shadow: 10px 5px 30px rgb(206, 205, 205);
}

.summary img {
    border-radius: 15px 15px 0 0;
}

.summary .content {
    background-color: white;
    height: 24em;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary .content div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary .content h1 {
    text-align: center;
    font-size: 25px;
    margin: 10px 0px 0px 0px;
}

.summary .content p {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    width: 70%;
}

.summary .content #content-botton .payment {
    background-color: hsl(245, 75%, 52%);
    margin: 10px 0px 20px 0px;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 30px rgb(194, 192, 192);
}

.summary .content #content-botton .cancel {
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: gray;
    background-color: white;
}

.summary .content #content-top {
    flex-grow: 4;
    flex-direction: column;
}

.summary .content #content-middle {
    flex-grow: 4;
}

.summary .content #content-botton {
    flex-grow: 4;
    flex-direction: column;
}

.summary .content #content-middle {
    justify-content: center;
    background-color: hsl(225, 100%, 97%);
    width: 80%;
    border-radius: 15px;
}

.summary .content #content-middle .price {
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0px 60px 0 15px;
}

.summary .content #content-middle .price #year {
    margin: 0 0 5px 0;
}

.summary .content #content-middle button {
    background-color: hsl(225, 100%, 97%);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
}